<template>
<section class="flex flex-col justify-center items-center w-screen h-screen">
  <main class="flex flex-col w-72 v-1/3">
    <FormInput form-action="signup" form-type="email" />
    <FormInput form-action="signup" form-type="password" />
    <FormInput form-action="signup" form-type="username" />
    <RegisterFooter button-type="sign-up" :on-main-button-click="onSignupClick"/>
  </main>
</section>
</template>

<script>
import jwt from 'jsonwebtoken'
export default {
  methods: {
    async onSignupClick() {
      const response = await this.$store.dispatch('signupStore/signUpUser');
      const { accessToken } = response.data

      const email = this.$store.state.signupStore.email
      const user = this.$store.state.signupStore.username

      this.$store.commit('auth/SET_TOKEN', {token: accessToken})
      this.$store.commit('auth/SET_EMAIL', { email })
      this.$store.commit('auth/SET_USER', { user })
      const id = jwt.decode(this.$store.state.auth.token).sub
      this.$router.push(`/users/${id}`)

    }
  }
}
</script>
