<template>
  <button class="flex flex-row w-24 h-8 rounded border-2 border-gray-400 justify-center items-center active:bg-gray-200" @click="onClick">
      <p class="font-bold">{{ buttonText }}</p>
  </button>
</template>

<script>
export default {
  props: {
    buttonText: {
      type: String,
      required: true
    },
    onClick: {
      type: Function,
      required: false,
      default: () => console.log("click")
    },
  }
}
</script>