<template>
    <form action="" class="flex flex-row justify-between mt-8">
      <label for="" >{{ formType }}</label>
      <section class="flex flex-col">
        <input 
          v-model="input"
          type="text"
          class="rounded border-2 border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
          :class="{ poorlyFormatted: poorlyFormatted }"
          @blur="checkFormat"
        >
        <p v-if="poorlyFormatted" class="text-red-500">Campo mal formatado</p>
      </section>
    </form>
</template>


<script>
const mapFormTypeToMutation = {
    'email': 'SET_EMAIL',
    'password': 'SET_PASSWORD',
    'username': 'SET_USERNAME',
};

const mapFormTypeToRegex = {
    'email': /\S+@\S+\.\S+/,
    'password': /\w{8,32}/,
    'username': /^[A-Za-z]\w*$/
};
export default {
  props: {
    formType: {
      type: String,
      required: true
    },
    formAction: {
      type: String,
      required: true,
      validator(value) { 
        return ['signup', 'signin'].includes(value);
      }
    }
  },
  data() {
    return {
      input: '',
      poorlyFormatted: false,
    };
  },
  methods: {
    checkFormat() {
      const isValid = mapFormTypeToRegex[this.formType].test(this.input);
      this.poorlyFormatted = !isValid && this.input.length > 0;
      if (!this.poorlyFormatted) {
        this.updateField(this.input);
      }
    },
    updateField(newValue) {
      const mutation = mapFormTypeToMutation[this.formType];
      this.$store.commit(`${this.formAction}Store/${mutation}`, this.assemblePayload(newValue))
    },

    assemblePayload(newValue) {
      const formType = this.formType;
      const formTypeToPayload = {
        'email': {newEmail: newValue},
        'password': {newPassword: newValue},
        'username': {newUsername: newValue}
      };

      return formTypeToPayload[formType];
    }
  },
}
</script>

<style scoped>
  .poorlyFormatted {
    @apply border-red-400;
  }
</style>