<template>
  <footer class="w-72 flex flex-col mt-8">
      <nav class="flex flex-row justify-between">
        <AuthButton button-text="clear"/>
        <AuthButton :button-text="buttonType" :on-click="onMainButtonClick"/>
      </nav>
      <p v-if="buttonType === 'sign-in'" class="self-center mt-4">
        <NuxtLink to="/sign-up">
          {{getFooterText()}}
        </NuxtLink>
      </p>
      <p v-else class="self-center mt-4">
        <NuxtLink to="/sign-in">
          {{getFooterText()}}
        </NuxtLink>
      </p>
      </footer>
</template>

<script>
export default {
  props: {
    buttonType: {
      type: String,
      required: true
    },
    onMainButtonClick: {
      type: Function,
      required: true
    },
  },
  methods: {
    getFooterText() {
      if (this.buttonType === "sign-in")
        return "Not an user yet? Sign up now!"
      else
        return "Already an user? Sign in now!"
    },
    getRoute() {
      return this.buttonType === "sign-in" ? '/sign-up' : 'sign-in'
    }
  }
}
</script>