<template>
  <section class="flex flex-row w-screen h-screen items-center justify-center">
    <aside class="w-72 v-1/5">
        <img
          :src="`https://avatars.dicebear.com/api/avataaars/${id}.svg`"
          alt="user avatar"
          class="w-11/12 bg-primary rounded-full"
        />

    </aside>
    <main class="flex flex-col items-left justify-between h-32">
      <p>{{ email }}</p>
      <p>{{ username }}</p>
    </main>
  </section>
</template>


<script>
export default {
  data() {
    return {
      email: this.$store.state.auth.email,
      username: this.$store.state.auth.user,
    }
  },

  computed: {
    id() {
      return this.$route.params.id
    }
  },


}
</script>