<template>
<section class="flex flex-col justify-center items-center w-screen h-screen">
  <main class="flex flex-col w-72 v-1/3">
    <FormInput form-action="signin" form-type="email" />
    <FormInput form-action="signin" form-type="password" />
    <RegisterFooter button-type="sign-in" :on-main-button-click="onSigninClick"/>
  </main>
</section>
</template>

<script>
import jwt from 'jsonwebtoken'
export default {
  methods: {
    async onSigninClick() {
      try {
        const response = await this.$store.dispatch('signinStore/loginUser');
        const { accessToken } = response.data
        this.$store.commit('auth/SET_TOKEN', {token: accessToken})
        alert('sucesso')
        const token = this.$store.state.auth.token
        const id = jwt.decode(token).sub
        const data = await this.$axios.get(`600/users/${id}`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        this.$store.commit('auth/SET_EMAIL', {email: data.email})
        this.$store.commit('auth/SET_TOKEN', {username: data.username})
        this.$router.push(`/users/${id}`)
      }
      catch (e) {
        alert(e)
      }
    }
  }
}
</script>
